/* #root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem; 
  text-align: center;
}


@media screen and (max-width: 1024px) {
  #root {
    max-width: 960px;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #root {
    max-width: 720px;
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  #root {
    max-width: 100%;
    padding: 0.5rem;
  }
} */




